.NovaCotacao-body {
  background-color: #e3e4e4;
}

.NovaCotacao-header {
  background-color: #800080;
  color: white;
}

.NovaCotacao-header img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

ul{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul p {
  margin: 0;
}

li{
  padding: 5px 15px;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 1fr;
  align-items: center;
}


.title{
  font-size: 18px;
}

.description{
  font-size: 12px;
  color: darkgray;
}

.novacotacao-btn {
  background-color: aqua;
  color: white;
}