html {
  background-color: #800080;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  height: 100vmin;
  width: 100vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-btn {
  width: 90%;
  text-align: left;
  position:absolute;
  bottom: 3%;
  left: 5%;
  right: 5%;
  padding: 2em;
  border: medium none;  
  color: #800080;
}

.App-btn-icon {
  float: right;
}